body{
	font-family: "century gothic";
	font-size: 14px
}


td,th{
	font-family: "century gothic" !important;
	font-size: 13px !important
}

.k-grid-pager{
	background-color: #6D6D6D !important
}

.k-grid-pager .k-icon{
	margin-top: 5px
}